@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@font-face {
    font-family: 'Maharlika';
    src: 
        url('/fonts/maharlika-regular.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}



body::-webkit-scrollbar{
  display: none;
}

  img{
    max-width: max-content;
}

h2{
    font-family: "Maharlika", sans-serif;
    color:white;
    text-transform: uppercase;
    font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    width: 100%;
}

p{
  font-family: 'Inter', sans-serif;
  color:white;
  line-height: 150%;
}

p.projectText {
  font-size: 26px
}

p.testimonial{
  font-size: 16px
}

h3{
    font-family: "Maharlika", sans-serif;
    color:#AF814B;
    text-transform: uppercase;
    font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
}

.projectSections{
  border-image: url("/ButtonBorder.png") 40 round;
  border-image-width: 20px;
}

.projectSections a{
  padding-right: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  padding-left: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  padding-bottom: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  padding-top: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(8px + (20 - 8) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

  .projectSections a{
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size:20px
  }
  

.buttonToBorder{
    background: linear-gradient(0deg, rgba(39,39,39,1) 0%, rgba(66,66,66,1) 50%, rgba(180,180,180,1) 100%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-image: url("/ButtonBorder.png") 30 round;
    border-image-width: 10px;
    font-size: calc(10px + (15 - 10) * ((100vw - 300px) / (1600 - 300)));
    padding: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.page-border{
    border-style: solid;
    border-width: 40px 30px 40px 30px;
    -moz-border-image: url("/PageBorder.png") 30 30 30 30 repeat repeat;
    -webkit-border-image: url("/PageBorder.png") 30 30 30 30 repeat repeat;
    -o-border-image: url("/PageBorder.png") 30 30 30 30 repeat repeat;
    border-image: url("/PageBorder.png") 30 30 30 30 repeat repeat;
} 

.page{
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  margin: 10px;
}

.border{
  border-style: solid;
    border-width: 20px 20px 20px 20px;
    -moz-border-image: url("/ButtonBorder.png") 20 20 20 20 repeat repeat;
    -webkit-border-image: url("/ButtonBorder.png") 20 20 20 20 repeat repeat;
    -o-border-image: url("/ButtonBorder.png") 20 20 20 20 repeat repeat;
    border-image: url("/ButtonBorder.png") 20 20 20 20 repeat repeat;
}

/* @media (pointer: fine){
.scroll-container {
    height: 100vh;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }

  .scroll-container section{
    height: 100vh;
    scroll-snap-align: center;
  }
}
 */

.navbarItem:hover .navbarItemStar{
  opacity:1;
}

.navbarItemStar{
  opacity:0;
}


@media screen and (min-width: 1600px) {
  h2{
    font-size:32px;
  }
  h3{
    font-size: 20px;
  }
  .buttonToBorder{
    font-size: 15px;
    padding: 20px;
  }

  .p{
    font-size:22px;
  }
}


.swiper-slide {
  display: flex!important;
  justify-content: center!important;
}

.swiper-button-prev, .swiper-button-next{
  width: 100px!important;
  height: 100px!important;
}

.swiper-button-prev:after, .swiper-button-next:after{
  content: ""!important; 
  margin:auto!important;
  background-image: url("/Scroll_Icon.png");
  width: 100px!important;
  height: 100px!important;
  background-size: cover;
}

.swiper-button-next{
  transform: rotate(90deg);
  left:21%!important;
  right: auto!important;
}

.swiper-button-prev{
  transform: rotate(-90deg);
  right:21%!important;
  left:auto!important;
}

.contact input::placeholder{
  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  font-size:24px;
  color: #787878;
}

.contact input[type=text]{
  background-color: transparent;
  border: solid 2px white;
  color:white;
  font-size: 24px;
  font-family: "Maharlika", sans-serif;
  padding-left: 20px;

}

.contact textarea{
  background-color: transparent;
  border: solid 2px white;
  color:white;
  font-size: 24px;
  font-family: "Maharlika", sans-serif;
  padding-left: 20px;
  padding-top: 20px;

}

.contact textarea::placeholder{
  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  font-size:24px;
  color: #787878;
}

form input[type=submit]{
  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  font-size:24px;
  color: white;
  background-image: url("/contact/formButtonBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 300px;
  height: 100px;

}