@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@font-face {
    font-family: 'Maharlika';
    src: 
        url('/fonts/maharlika-regular.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}

html{
  scroll-behavior: smooth;
}


body::-webkit-scrollbar{
  display: none;
}

  img{
    max-width: max-content;
}

h2{
    font-family: "Maharlika", sans-serif;
    color:white;
    text-transform: uppercase;
    font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    width: 100%;
}

p{
  font-family: 'Inter', sans-serif;
  color:white;
  line-height: 150%;
}

p.projectText {
  font-size: 26px
}

p.testimonial{
  
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}

div.testimonial-name-project{
  width: 200px;
}


h3{
    font-family: "Maharlika", sans-serif;
    color:#AF814B;
    text-transform: uppercase;
    font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
}

section{
  max-width: 1920px;
  margin: auto;
}



.buttonToBorder{
    background: linear-gradient(0deg, rgba(39,39,39,1) 0%, rgba(66,66,66,1) 50%, rgba(180,180,180,1) 100%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-image: url("/ButtonBorder.png") 30 stretch;
    border-image-width: 10px;
    font-size: calc(10px + (15 - 10) * ((100vw - 300px) / (1600 - 300)));
    padding: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.page-border{
    border-style: solid;
    border-width: 40px 30px 40px 30px;
    -moz-border-image: url("/PageBorder.png") 30 30 30 30 stretch stretch;
    -webkit-border-image: url("/PageBorder.png") 30 30 30 30 stretch stretch;
    -o-border-image: url("/PageBorder.png") 30 30 30 30 stretch stretch;
    border-image: url("/PageBorder.png") 30 30 30 30 stretch stretch;
} 

.videoBorder{
  border-style: solid;
  border-width: 20px 20px 20px 20px;
  -moz-border-image: url("/VideoBorder.png") 55 55 55 55 stretch stretch;
  -webkit-border-image: url("/VideoBorder.png") 55 55 55 55 stretch stretch;
  -o-border-image: url("/VideoBorder.png") 55 55 55 55 stretch stretch;
  border-image: url("/VideoBorder.png") 55 55 55 55 stretch stretch;
  }

.page{
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  margin: 10px;
}

.border{
  border-style: solid;
    border-width: 20px 20px 20px 20px;
    -moz-border-image: url("/ButtonBorder.png") 20 20 20 20 stretch stretch;
    -webkit-border-image: url("/ButtonBorder.png") 20 20 20 20 stretch stretch;
    -o-border-image: url("/ButtonBorder.png") 20 20 20 20 stretch stretch;
    border-image: url("/ButtonBorder.png") 20 20 20 20 stretch stretch;
}


.navbarItem:hover .navbarItemStar{
  opacity:1;
}

.navbarItemStar{
  opacity:0;
}

.socials{
  transition: all;
  transition-duration: 200ms;
}

.socials:hover{
  transform: scale(1.5);
  transition: all;
  transition-duration: 200ms;
}

@media screen and (min-width: 1600px) {
  h2{
    font-size:32px;
  }
  h3{
    font-size: 20px;
  }
  .buttonToBorder{
    font-size: 15px;
    padding: 20px;
  }

  p{
    font-size:22px;
  }
  p .testimonial{
    font-size: 16px
  }
}


/* SWIPER */


.projectSections a{

  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.projectsSwiper .swiper-pagination{
  width: max-content!important;
  display: flex!important;
  flex-direction: row!important;
  position: fixed!important;
  top:auto!important;
  bottom:2%!important; 
  left: 0!important;
  right: 0!important;
  margin: auto!important;
  opacity: 1!important;
  background-color: black;
  border-image: url("/ButtonBorder.png") 40 stretch;
  border-image-width: 20px;
  font-size: calc(8px + (20 - 8) * ((100vw - 300px) / (1600 - 300)));
  justify-content: center!important;
  align-items: center!important;
}

.projectsSwiper .swiper-pagination div{
  width: max-content!important;
  height: max-content!important;
  display: flex!important;
  flex-direction: row!important;
  background-color: transparent!important;
  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  justify-content: center!important;
  align-items: center!important;
}

.projectsSwiper .swiper-pagination div.swiper-pagination-bullet{
  opacity: 1!important;
  position: relative!important;
  display: flex!important;

  border-radius: 0px!important;
}
.projectsSwiper .swiper-pagination div.swiper-pagination-bullet-active{
  color:#AF814B!important;
}

.projectsSwiper .swiper-pagination div.swiper-pagination-bullet::after{
  content: url('/projects/ProjectsMenuDivider.png');
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.projectsSwiper .swiper-pagination div.swiper-pagination-bullet:first-child{
  margin-left: 20px!important;
}
.projectsSwiper .swiper-pagination div.swiper-pagination-bullet:last-child:after{
  content:''!important;
}












.latestProjectsSwiper .swiper-pagination-bullet{
  background-color: #D9D9D9!important;
  border-radius: 0px!important;
  width: 50px!important;
  height: 5px!important;
  opacity: 1!important;
  margin: 0px 10px!important;
}

.latestProjectsSwiper .swiper-pagination-bullet-active{
  background-color: #AF814B!important;

}


.verticalSwiper .swiper-button-prev:after, .verticalSwiper .swiper-button-next:after {
  content:" "!important; 
  margin: auto!important;
  background-image: url("/Scroll_Icon.png");
  width: 100px!important;
  height: 100px!important;
  background-size: cover;
  
}

.verticalSwiper .swiper-button-prev, .verticalSwiper .swiper-button-next{
  width: 130px!important;
  height: 130px!important;
  position: fixed;
  top:0;
  left: 0;
  cursor: pointer;
  transition: all!important;
  transition-duration: 1s!important;
}

.verticalSwiper .swiper-button-disabled{
  opacity: 0!important;
  transition: all!important;
  transition-duration: 1s!important;
}

.verticalSwiper .swiper-button-next{
  top: auto!important;
  bottom:50px!important;
  left:50%!important;
  transform: translateX(-50%);
  animation: updown 3s infinite;
}

@keyframes updown {
  0%{
    transform: translateY(0px) translateX(-50%);
  }

  50%{
    transform: translateY(20px) translateX(-50%);
  }
  100%{
    transform: translateY(0px) translateX(-50%);
  }
}

.verticalSwiper .swiper-button-prev{
  transform: rotate(-90deg);
  right:21%!important;
  left:auto!important;
  display: none!important;
}


.testimonialSwiper .swiper-slide {
  display: flex!important;
  justify-content: center!important;
}

.testimonialSwiper .swiper-button-prev,.testimonialSwiper .swiper-button-next{
  width: 100px!important;
  height: 100px!important;
}

.testimonialSwiper .swiper-button-prev:after, .testimonialSwiper .swiper-button-next:after{
  content: ""!important; 
  margin:auto!important;
  background-image: url("/Scroll_Icon.png")!important;
  width: 100px!important;
  height: 100px!important;
  background-size: cover;
  display: block!important;
}

.testimonialSwiper .swiper-button-next{
  transform: rotate(90deg) translateX(0%)!important;
  left:21%!important;
  right: auto!important;
  top:50%!important;
  bottom: auto!important;
  position:absolute!important;
  background-image: url("/Scroll_Icon.png");
  background-size: cover;
}

.testimonialSwiper .swiper-button-prev{
  transform: rotate(-90deg) translateX(0%)!important;
  right:21%!important;
  left:auto!important;
  top:50%!important;
  bottom: auto!important;
  position:absolute!important;
  display: block!important;
  background-image: url("/Scroll_Icon.png");
  background-size: cover;
}


/*FORM */

.contact input::placeholder{
  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  font-size:24px;
  color: #787878;
}

.contact input[type=text]{
  background-color: transparent;
  border: solid 2px white;
  color:white;
  font-size: 24px;
  font-family: "Maharlika", sans-serif;
  padding-left: 20px;

}

.contact input[type=email]{
  background-color: transparent;
  border: solid 2px white;
  color:white;
  font-size: 24px;
  font-family: "Maharlika", sans-serif;
  padding-left: 20px;

}
.contact textarea{
  background-color: transparent;
  border: solid 2px white;
  color:white;
  font-size: 24px;
  font-family: "Maharlika", sans-serif;
  padding-left: 20px;
  padding-top: 20px;

}

.contact textarea::placeholder{
  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  font-size:24px;
  color: #787878;
}

form input[type=submit]{
  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  font-size:24px;
  color: white;
  background-image: url("/contact/formButtonBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 300px;
  height: 100px;

}



/* BUTTON GLOW STYLE */

a.glow-on-hover{
  position: relative;
  overflow: hidden;
}

a.glow-on-hover span.glow{
  position: absolute;
  display: block;
}

.glow-on-hover:hover span:nth-of-type(1){
  top:0;
  left:0;
  width: 100%;
  height: 5px;
  background:linear-gradient(90deg, transparent, white);
  animation: animate1 2s infinite;
  margin: 0!important;
}
@keyframes animate1 {
  0%{
    left:-100%
  }
  100%{
    left:100%
  }
}

.glow-on-hover:hover span:nth-of-type(2){
  top:-100%;
  right:0;
  width: 5px;
  height: 100%;
  background:linear-gradient(180deg, transparent, white);
  animation: animate2 2s infinite;
  animation-delay: .5s;
  margin: 0!important;
}
@keyframes animate2 {
  0%{
    top:-100%
  }
  100%{
    top:100%
  }
}


.glow-on-hover:hover span:nth-of-type(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background:linear-gradient(270deg, transparent, white);
  animation: animate3 2s infinite;
  animation-delay: 1s;
  margin: 0!important;
}
@keyframes animate3 {
  0%{
    right:-100%
  }
  100%{
    right:100%
  }
}

.glow-on-hover:hover span:nth-of-type(4){
  bottom:-100%;
  left:0;
  width: 5px;
  height: 100%;
  background:linear-gradient(360deg, transparent, white);
  animation: animate4 2s infinite;
  animation-delay: 1.5s;
  margin: 0!important;
}
@keyframes animate4 {
  0%{
    bottom:-100%
  }
  100%{
    bottom:100%
  }
}


.leftRightAnimation{
  animation: leftright 3s infinite;
}

@keyframes leftright {
  0%{
    transform: translateX(0px) rotate(-90deg);
  }

  50%{
    transform: translateX(20px) rotate(-90deg);
  }
  100%{
    transform: translateX(0px) rotate(-90deg);
  }
}