@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@font-face {
    font-family: 'Maharlika';
    src: 
        url('/fonts/maharlika-regular.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}



body::-webkit-scrollbar{
  display: none;
}

  img{
    max-width: max-content;
}

h2{
    font-family: "Maharlika", sans-serif;
    color:white;
    text-transform: uppercase;
    font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    width: 100%;
}

p{
  font-family: 'Inter', sans-serif;
  color:white;
  line-height: 150%;
}

p.projectText {
  font-size: 26px
}

p.testimonial{
  font-size: 16px
}

h3{
    font-family: "Maharlika", sans-serif;
    color:#AF814B;
    text-transform: uppercase;
    font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
}

section{
  max-width: 1920px;
  margin: auto;
}

.projectSections{
  border-image: url("/ButtonBorder.png") 40 round;
  border-image-width: 20px;
}

.projectSections a{
  padding-right: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  padding-left: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  padding-bottom: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  padding-top: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(8px + (20 - 8) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

  .projectSections a{
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size:20px
  }
  

.buttonToBorder{
    background: linear-gradient(0deg, rgba(39,39,39,1) 0%, rgba(66,66,66,1) 50%, rgba(180,180,180,1) 100%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-image: url("/ButtonBorder.png") 30 round;
    border-image-width: 10px;
    font-size: calc(10px + (15 - 10) * ((100vw - 300px) / (1600 - 300)));
    padding: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.page-border{
    border-style: solid;
    border-width: 40px 30px 40px 30px;
    -moz-border-image: url("/PageBorder.png") 30 30 30 30 stretch stretch;
    -webkit-border-image: url("/PageBorder.png") 30 30 30 30 stretch stretch;
    -o-border-image: url("/PageBorder.png") 30 30 30 30 stretch stretch;
    border-image: url("/PageBorder.png") 30 30 30 30 stretch stretch;
} 

.videoBorder{
  border-style: solid;
  border-width: 20px 20px 20px 20px;
  -moz-border-image: url("/VideoBorder.png") 55 55 55 55 stretch stretch;
  -webkit-border-image: url("/VideoBorder.png") 55 55 55 55 stretch stretch;
  -o-border-image: url("/VideoBorder.png") 55 55 55 55 stretch stretch;
  border-image: url("/VideoBorder.png") 55 55 55 55 stretch stretch;
  }

.page{
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  margin: 10px;
}

.border{
  border-style: solid;
    border-width: 20px 20px 20px 20px;
    -moz-border-image: url("/ButtonBorder.png") 20 20 20 20 stretch stretch;
    -webkit-border-image: url("/ButtonBorder.png") 20 20 20 20 stretch stretch;
    -o-border-image: url("/ButtonBorder.png") 20 20 20 20 stretch stretch;
    border-image: url("/ButtonBorder.png") 20 20 20 20 stretch stretch;
}

/* @media (pointer: fine){
.scroll-container {
    height: 100vh;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }

  .scroll-container section{
    height: 100vh;
    scroll-snap-align: center;
  }
}
 */

.navbarItem:hover .navbarItemStar{
  opacity:1;
}

.navbarItemStar{
  opacity:0;
}


@media screen and (min-width: 1600px) {
  h2{
    font-size:32px;
  }
  h3{
    font-size: 20px;
  }
  .buttonToBorder{
    font-size: 15px;
    padding: 20px;
  }

  .p{
    font-size:22px;
  }
}


/* SWIPER */

.verticalSwiper .swiper-button-prev:after, .verticalSwiper .swiper-button-next:after {
  content: ""!important; 
  margin:auto!important;
  background-image: url("/Scroll_Icon.png");
  width: 100px!important;
  height: 100px!important;
  background-size: cover;
  
}

.verticalSwiper .swiper-button-prev, .verticalSwiper .swiper-button-next{
  width: 130px!important;
  height: 130px!important;
  position: fixed;
  top:0;
  left: 0;
  background-image: url("/Scroll_Icon.png");
  background-size: cover;
  cursor: pointer;
}

.verticalSwiper .swiper-button-disabled{
  display: none!important;
}

.verticalSwiper .swiper-button-next{
  top: auto!important;
  bottom:50px!important;
  left:50%!important;
  transform: translateX(-50%);
}

.verticalSwiper .swiper-button-prev{
  transform: rotate(-90deg);
  right:21%!important;
  left:auto!important;
}


.testimonialSwiper .swiper-slide {
  display: flex!important;
  justify-content: center!important;
}

.testimonialSwiper .swiper-button-prev,.testimonialSwiper .swiper-button-next{
  width: 100px!important;
  height: 100px!important;
}

.testimonialSwiper .swiper-button-prev:after, .testimonialSwiper .swiper-button-next:after{
  content: ""!important; 
  margin:auto!important;
  background-image: url("/Scroll_Icon.png");
  width: 100px!important;
  height: 100px!important;
  background-size: cover;
}

.testimonialSwiper .swiper-button-next{
  transform: rotate(90deg) translateX(0%)!important;
  left:21%!important;
  right: auto!important;
  top:50%!important;
  bottom: auto!important;
  position:absolute!important;
}

.testimonialSwiper .swiper-button-prev{
  transform: rotate(-90deg) translateX(0%)!important;
  right:21%!important;
  left:auto!important;
  top:50%!important;
  bottom: auto!important;
  position:absolute!important;

}

/*FORM */

.contact input::placeholder{
  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  font-size:24px;
  color: #787878;
}

.contact input[type=text]{
  background-color: transparent;
  border: solid 2px white;
  color:white;
  font-size: 24px;
  font-family: "Maharlika", sans-serif;
  padding-left: 20px;

}

.contact textarea{
  background-color: transparent;
  border: solid 2px white;
  color:white;
  font-size: 24px;
  font-family: "Maharlika", sans-serif;
  padding-left: 20px;
  padding-top: 20px;

}

.contact textarea::placeholder{
  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  font-size:24px;
  color: #787878;
}

form input[type=submit]{
  font-family: "Maharlika", sans-serif;
  text-transform: uppercase;
  font-size:24px;
  color: white;
  background-image: url("/contact/formButtonBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 300px;
  height: 100px;

}



/* BUTTON GLOW STYLE */

a.glow-on-hover{
  position: relative;
  overflow: hidden;
}

a.glow-on-hover span.glow{
  position: absolute;
  display: block;
}

.glow-on-hover:hover span:nth-of-type(1){
  top:0;
  left:0;
  width: 100%;
  height: 5px;
  background:linear-gradient(90deg, transparent, white);
  animation: animate1 2s infinite;
  margin: 0!important;
}
@keyframes animate1 {
  0%{
    left:-100%
  }
  100%{
    left:100%
  }
}

.glow-on-hover:hover span:nth-of-type(2){
  top:-100%;
  right:0;
  width: 5px;
  height: 100%;
  background:linear-gradient(180deg, transparent, white);
  animation: animate2 2s infinite;
  animation-delay: .5s;
  margin: 0!important;
}
@keyframes animate2 {
  0%{
    top:-100%
  }
  100%{
    top:100%
  }
}


.glow-on-hover:hover span:nth-of-type(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background:linear-gradient(270deg, transparent, white);
  animation: animate3 2s infinite;
  animation-delay: 1s;
  margin: 0!important;
}
@keyframes animate3 {
  0%{
    right:-100%
  }
  100%{
    right:100%
  }
}

.glow-on-hover:hover span:nth-of-type(4){
  bottom:-100%;
  left:0;
  width: 5px;
  height: 100%;
  background:linear-gradient(360deg, transparent, white);
  animation: animate4 2s infinite;
  animation-delay: 1.5s;
  margin: 0!important;
}
@keyframes animate4 {
  0%{
    bottom:-100%
  }
  100%{
    bottom:100%
  }
}